--- ./third_party/openssl/openssl/openssl.config.orig	2014-03-05 22:26:18.000000000 +0100
+++ ./third_party/openssl/openssl/openssl.config	2014-03-05 22:26:18.000000000 +0100
@@ -432,6 +432,7 @@
 crypto/buffer/buf_err.c \
 crypto/buffer/buf_str.c \
 crypto/buffer/buffer.c \
+crypto/chacha/chacha_enc.c \
 crypto/cmac/cm_ameth.c \
 crypto/cmac/cm_pmeth.c \
 crypto/cmac/cmac.c \
@@ -565,6 +566,7 @@
 crypto/evp/e_aes.c \
 crypto/evp/e_aes_cbc_hmac_sha1.c \
 crypto/evp/e_bf.c \
+crypto/evp/e_chacha20poly1305.c \
 crypto/evp/e_des.c \
 crypto/evp/e_des3.c \
 crypto/evp/e_null.c \
@@ -576,6 +578,7 @@
 crypto/evp/e_xcbc_d.c \
 crypto/evp/encode.c \
 crypto/evp/evp_acnf.c \
+crypto/evp/evp_aead.c \
 crypto/evp/evp_cnf.c \
 crypto/evp/evp_enc.c \
 crypto/evp/evp_err.c \
@@ -674,6 +677,7 @@
 crypto/pkcs7/pk7_smime.c \
 crypto/pkcs7/pkcs7err.c \
 crypto/pqueue/pqueue.c \
+crypto/poly1305/poly1305.c \
 crypto/rand/md_rand.c \
 crypto/rand/rand_egd.c \
 crypto/rand/rand_err.c \
@@ -789,7 +793,10 @@
 crypto/aes/asm/aes-armv4.S \
 crypto/bn/asm/armv4-gf2m.S \
 crypto/bn/asm/armv4-mont.S \
+crypto/chacha/chacha_vec_arm.S \
 crypto/modes/asm/ghash-armv4.S \
+crypto/poly1305/poly1305_arm.c \
+crypto/poly1305/poly1305_arm_asm.S \
 crypto/sha/asm/sha1-armv4-large.S \
 crypto/sha/asm/sha256-armv4.S \
 crypto/sha/asm/sha512-armv4.S \
@@ -852,6 +859,7 @@
 crypto/bn/asm/x86_64-gf2m.S \
 crypto/bn/asm/x86_64-mont.S \
 crypto/bn/asm/x86_64-mont5.S \
+crypto/chacha/chacha_vec.c \
 crypto/md5/asm/md5-x86_64.S \
 crypto/modes/asm/ghash-x86_64.S \
 crypto/rc4/asm/rc4-md5-x86_64.S \
@@ -859,6 +867,7 @@
 crypto/sha/asm/sha1-x86_64.S \
 crypto/sha/asm/sha256-x86_64.S \
 crypto/sha/asm/sha512-x86_64.S \
+crypto/poly1305/poly1305_vec.c \
 crypto/x86_64cpuid.S \
 "
 
@@ -866,7 +875,9 @@
 crypto/aes/aes_cbc.c \
 crypto/aes/aes_core.c \
 crypto/bn/bn_asm.c \
+crypto/chacha/chacha_enc.c \
 crypto/mem_clr.c \
+crypto/poly1305/poly1305.c \
 crypto/rc4/rc4_enc.c \
 crypto/rc4/rc4_skey.c \
 "
@@ -996,6 +1007,15 @@
 eng_dyn_dirs.patch \
 fix_clang_build.patch \
 x509_hash_name_algorithm_change.patch \
+reduce_client_hello_size.patch \
+fix_lhash_iteration.patch \
+tls1_change_cipher_state_rewrite.patch \
+aead_support.patch \
+aead_ssl_support.patch \
+use_aead_for_aes_gcm.patch \
+chacha20poly1305.patch \
+neon_runtime.patch \
+paddingext.patch \
 "
 
 OPENSSL_PATCHES_progs_SOURCES="\
@@ -1055,3 +1075,17 @@
 OPENSSL_PATCHES_x509_hash_name_algorithm_change_SOURCES="\
 crypto/x509/by_dir.c \
 "
+
+OPENSSL_PATCHES_reduce_client_hello_size_SOURCES="\
+ssl/t1_lib.c \
+"
+
+OPENSSL_PATCHES_fix_lhash_iteration_SOURCES="\
+crypto/conf/conf_api.c
+crypto/lhash/lhash.c
+crypto/lhash/lhash.h
+crypto/objects/o_names.c
+crypto/objects/obj_dat.c
+include/openssl/lhash.h
+ssl/ssl_sess.c
+"
